* text=auto
/.github export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.php export-ignore
/ChangeLog export-ignore
/composer-dependency-analyser.php export-ignore
/docker-compose.yaml export-ignore
/rector.php export-ignore
