<f:be.pageRenderer
    pageTitle="AdmiralCloud Embed"
    includeCssFiles="{0: '{f:uri.resource(path:\'Backend/Css/acc.css\',extensionName:\'admiral_cloud_connector\')}'}"
/>

<div class="module " data-module-id="" data-module-name="admiral_cloud_browser_show">
    <div class="module-loading-indicator"></div>
    <div class="module-docheader t3js-module-docheader">
        <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation row">
            <div class="module-docheader-bar-column-left col-12 text-end">
            </div>
        </div>
        <div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
            <div class="module-docheader-bar-column-left">
                <div class="btn-toolbar" role="toolbar" aria-label="">
                </div>
            </div>
            <div class="module-docheader-bar-column-right">
                <div class="btn-toolbar" role="toolbar" aria-label="">
                </div>
            </div>
        </div>
    </div>
    <div class="module-body t3js-module-body">
        <div class="module">
            <f:render section="Content" />
        </div>
    </div>
</div>


