<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:be.pageRenderer addJsInlineLabels="{
    acUpdateChangedMetadataInfoMessage: '{f:translate(key: \'LLL:EXT:admiral_cloud_connector/Resources/Private/Language/locallang_be.xlf:toolbarItem.updateChangedMetadata.info\')}',
    acUpdateChangedMetadataSuccessMessage: '{f:translate(key: \'LLL:EXT:admiral_cloud_connector/Resources/Private/Language/locallang_be.xlf:toolbarItem.updateChangedMetadata.success\')}',
    acUpdateChangedMetadataErrorMessage: '{f:translate(key: \'LLL:EXT:admiral_cloud_connector/Resources/Private/Language/locallang_be.xlf:toolbarItem.updateChangedMetadata.error\')}',
    acSuccessMessage: '{f:translate(key: \'LLL:EXT:admiral_cloud_connector/Resources/Private/Language/locallang_be.xlf:toolbarItem.closeConnection.success\')}'
}" />

<f:be.pageRenderer includeJavaScriptModules="{
    0: '@cpsit/admiral-cloud-connector-backend/dropdown.js'
}" />

<p class="dropdown-headline">
    <f:translate key="LLL:EXT:admiral_cloud_connector/Resources/Private/Language/locallang_be.xlf:toolbarItem.title" />
</p>

<ul class="dropdown-list">
    <li>
        <a href="#" id="js-admiral-cloud-toolbar-dropdown-update-changed-metadata" class="dropdown-item">
            <f:translate key="LLL:EXT:admiral_cloud_connector/Resources/Private/Language/locallang_be.xlf:toolbarItem.updateChangedMetadata.title" />
        </a>
    </li>
    <li>
        <a href="#" id="js-admiral-cloud-toolbar-dropdown-close-connection" class="dropdown-item" title="(AC Group: {ACGroup})">
            <f:translate key="LLL:EXT:admiral_cloud_connector/Resources/Private/Language/locallang_be.xlf:toolbarItem.closeConnection.title" />
        </a>
    </li>
</ul>

</html>
